<div class="container-fluid">
  <div class="row" id="main">
    <div class="col-lg-4 col-md-12">
      <div id="create" class="d-flex flex-column align-items-center mb-5">
        <h1>Add something to do</h1>
        <div class="form-group">
          <mat-form-field appearance="legacy">
            <mat-label>What's your role?</mat-label>
            <input matInput [(ngModel)]="todoText">
            <mat-hint>Write your to do here</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group mt-4">
          <mat-form-field appearance="legacy">
            <mat-label>Select</mat-label>
            <mat-select [(ngModel)]="day">
              <mat-option value="anytime">Any</mat-option>
              <mat-option value="monday">Monday</mat-option>
              <mat-option value="tuesday">Tuesday</mat-option>
              <mat-option value="wednesday">Wednesday</mat-option>
              <mat-option value="thursday">Thursday</mat-option>
              <mat-option value="friday">Friday</mat-option>
              <mat-option value="saturday">Saturday</mat-option>
              <mat-option value="sunday">Sunday</mat-option>
            </mat-select>
            <mat-hint>Select the deadline for the task</mat-hint>
          </mat-form-field>
        </div>
        <button mat-stroked-button class="mt-5" (click)="add_item()">Add</button>
      </div>
    </div>
    <div class="col-lg-8 col-md-12 align-items-center justify-content-center text-center">

      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="todo-container">
            <h2>Monday</h2>
            <div cdkDropList #mondayList="cdkDropList" [cdkDropListData]="monday"
              [cdkDropListConnectedTo]="[tuesdayList,wednesdayList,thursdayList,fridayList,saturdayList,sundayList,anytimeList]"
              class="todo-list" (cdkDropListDropped)="drop($event)">
              <div class="all_itemMonday item-box" *ngFor="let item of monday;let i=index" cdkDrag>
                <p class="item-text">{{item}}</p>
                <div class="action d-flex align-items-center">
                  <a class="check" (click)="check_item_Monday(i)"><i class="bi bi-check-circle"></i></a>
                  <a class="delete" (click)="delete_item(i,monday)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="todo-container">
            <h2>Tuesday</h2>
            <div cdkDropList #tuesdayList="cdkDropList" [cdkDropListData]="tuesday"
              [cdkDropListConnectedTo]="[mondayList,wednesdayList,thursdayList,fridayList,saturdayList,sundayList,anytimeList]"
              class="todo-list" (cdkDropListDropped)="drop($event)">
              <div class="all_itemTuesday item-box" *ngFor="let item of tuesday;let i=index" cdkDrag>
                <p class="item-text">{{item}}</p>
                <div class="action d-flex align-items-center">
                  <a class="check" (click)="check_item_Tuesday(i)"><i class="bi bi-check-circle"></i></a>
                  <a class="delete" (click)="delete_item(i,tuesday)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="todo-container">
            <h2>Wednesday</h2>
            <div cdkDropList #wednesdayList="cdkDropList" [cdkDropListData]="wednesday"
              [cdkDropListConnectedTo]="[mondayList,tuesdayList,thursdayList,fridayList,saturdayList,sundayList,anytimeList]"
              class="todo-list" (cdkDropListDropped)="drop($event)">
              <div class="all_itemWednesday item-box" *ngFor="let item of wednesday;let i=index" cdkDrag>
                <p class="item-text">{{item}}</p>
                <div class="action d-flex align-items-center">
                  <a class="check" (click)="check_item_Wednesday(i)"><i class="bi bi-check-circle"></i></a>
                  <a class="delete" (click)="delete_item(i,wednesday)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="todo-container">
            <h2>Thursday</h2>
            <div cdkDropList #thursdayList="cdkDropList" [cdkDropListData]="thursday"
              [cdkDropListConnectedTo]="[mondayList,tuesdayList,wednesdayList,fridayList,saturdayList,sundayList,anytimeList]"
              class="todo-list" (cdkDropListDropped)="drop($event)">
              <div class="all_itemThursday item-box" *ngFor="let item of thursday;let i=index" cdkDrag>
                <p class="item-text">{{item}}</p>
                <div class="action d-flex align-items-center">
                  <a class="check" (click)="check_item_Thursday(i)"><i class="bi bi-check-circle"></i></a>
                  <a class="delete" (click)="delete_item(i,thursday)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="todo-container">
            <h2>Friday</h2>
            <div cdkDropList #fridayList="cdkDropList" [cdkDropListData]="friday"
              [cdkDropListConnectedTo]="[mondayList,tuesdayList,wednesdayList,thursdayList,saturdayList,sundayList,anytimeList]"
              class="todo-list" (cdkDropListDropped)="drop($event)">
              <div class="all_itemFriday item-box" *ngFor="let item of friday;let i=index" cdkDrag>
                <p class="item-text">{{item}}</p>
                <div class="action d-flex align-items-center">
                  <a class="check" (click)="check_item_Friday(i)"><i class="bi bi-check-circle"></i></a>
                  <a class="delete" (click)="delete_item(i,friday)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="todo-container">
            <h2>Saturday</h2>
            <div cdkDropList #saturdayList="cdkDropList" [cdkDropListData]="saturday"
              [cdkDropListConnectedTo]="[mondayList,tuesdayList,wednesdayList,thursdayList,fridayList,sundayList,anytimeList]"
              class="todo-list" (cdkDropListDropped)="drop($event)">
              <div class="all_itemSaturday item-box" *ngFor="let item of saturday;let i=index" cdkDrag>
                <p class="item-text">{{item}}</p>
                <div class="action d-flex align-items-center">
                  <a class="check" (click)="check_item_Saturday(i)"><i class="bi bi-check-circle"></i></a>
                  <a class="delete" (click)="delete_item(i,saturday)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="todo-container">
            <h2>Sunday</h2>
            <div cdkDropList #sundayList="cdkDropList" [cdkDropListData]="sunday"
              [cdkDropListConnectedTo]="[mondayList,tuesdayList,wednesdayList,thursdayList,fridayList,saturdayList,anytimeList]"
              class="todo-list" (cdkDropListDropped)="drop($event)">
              <div class="all_itemSunday item-box" *ngFor="let item of sunday;let i=index" cdkDrag>
                <p class="item-text">{{item}}</p>
                <div class="action d-flex align-items-center">
                  <a class="check" (click)="check_item_Sunday(i)"><i class="bi bi-check-circle"></i></a>
                  <a class="delete" (click)="delete_item(i,sunday)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="todo-container">
            <h2>Anytime</h2>
            <div cdkDropList #anytimeList="cdkDropList" [cdkDropListData]="anytime"
              [cdkDropListConnectedTo]="[mondayList,tuesdayList,wednesdayList,thursdayList,fridayList,saturdayList,sundayList]"
              class="todo-list" (cdkDropListDropped)="drop($event)">
              <div class="all_itemAnytime item-box" *ngFor="let item of anytime;let i=index" cdkDrag>
                <p class="item-text">{{item}}</p>
                <div class="action d-flex align-items-center">
                  <a class="check" (click)="check_item_Anytime(i)"><i class="bi bi-check-circle"></i></a>
                  <a class="delete" (click)="delete_item(i,anytime)"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
