/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: rgb(104,121,145);
    background: -moz-linear-gradient(38deg, rgba(104,121,145,1) 0%, rgba(107,124,231,1) 100%);
    background: -webkit-linear-gradient(38deg, rgba(104,121,145,1) 0%, rgba(107,124,231,1) 100%);
    background: linear-gradient(38deg, rgba(104,121,145,1) 0%, rgba(107,124,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#687991",endColorstr="#6b7ce7",GradientType=1);background-position: center;background-repeat: no-repeat;background-size: cover;background-attachment: scroll;cursor: default;}
